#cart {
  position: fixed !important;
  bottom: 50px;
  right: 50px;
  z-index: 13123213;
  font-size: 3rem;
  background: blue;
  border: none;
}

@include mobile {
  #cart {
    bottom: 20px;
    right: 20px;
  }
}
