#cart {
    position: fixed !important;
    top: 20px;
    right: 20px;
    z-index: 13123213;
    font-size: 3rem;
    background: transparent;
    border: none;
}

.modal-content {
    min-width: 500px;

    ul {
        list-style: none;
    }
}

.prod-show {
    border: none;
}